:root {
  --primary: #002b4d;
	--secondary: #f04d2f;
  --text-white: #ffffff;
  --text-fade: #b7c4cf;
  --text-black: #3b3b3b;
  --text-error: #a31111;
  --gray-lighter: #e8e9e9;
  --gray-dark: #e2e2e2;
  --error: #de3232;
}
